<div class="index-admin">
	<div class="row">
		<div class="col-md-4">
			<%= link_to image_tag("http://www.graphicsfuel.com/wp-content/uploads/2012/07/books-icon-512.png", alt: "images"), books_path %>
			<p>Books</p>
		</div>
		<div class="col-md-4">
			<%= link_to image_tag("http://www.fancyicons.com/download/?id=3203&t=png&s=256", alt: "images"), authors_path %>
			<p>Author</p>
		</div>
		<div class="col-md-4">
			<%= link_to image_tag("http://ecx.images-amazon.com/images/I/51Xd5Dpi7nL.png", alt: "images"), categories_path %>
			<p>Category</p>
		</div>
	</div>
</div>