<div class="content-left">
  	<div class="content-left-box">
      	<div class="content-box"></div>
		<%- model_class = Category -%>
		<div class="page-header">
			<%= link_to "", categories_path, class: "glyphicon glyphicon-circle-arrow-left"%>
		  	<span><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></span>
		</div>
		<%= render :partial => 'form' %>
	</div>
</div>
